/* @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Josefin+Sans&family=Poppins:wght@500&display=swap'); */
* {
  margin: 0;
  padding: 0;
}
/* Variables */
:root {
  /* font */
  --headingEnglish: "Josefin Sans", sans-serif;
  --textEnglish: "Poppins", sans-serif;
  --fontBangla: "Hind Siliguri", sans-serif;
  --min-nav-height: 10vh;
  --max-nav-height: 17vh;
  --top-nav-primary-color: rgba(0, 0, 0, 0.6);
  --top-nav-secondary-color: rgba(0, 0, 0, 0.3);
}
/* Default Css */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--textEnglish);
  background-color: antiquewhite;
}

.section {
  background-color: rgb(19, 18, 19);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  list-style: none;
  font-weight: bolder;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
/* a:hover {
  text-shadow: 0 0 10px rgb(255, 255, 255);
} */
a:active {
  text-shadow: 0 0 10px rgb(255, 255, 255);
  /* box-shadow: 0 0 10px rgb(255, 255, 255); */
}

/* Top-nav-bar */
nav {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  height: var(--max-nav-height);
  width: 100vw;
  top: 0;
  /* background-color: rgba(255, 255, 255, 0.39); */
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 15%;
  color: aliceblue;
}
.nav-max {
  /* animation-play-state: running; */
  height: var(--max-nav-height);
  background-color: var(--top-nav-secondary-color);
  transition: all 0.2s ease-in-out;
}
.nav-min {
  /* animation-play-state: running; */
  height: var(--min-nav-height);
  background-color: var(--top-nav-primary-color);
  transition: all 0.2s ease-in-out;
}

.tab-button-container {
  display: none;
}
#nav-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}
.logo {
  display: flex;
  align-items: center;
}
.logo a {
  font-family: var(--headingEnglish);
  font-size: x-large;
  padding-left: 5px;
  -webkit-tap-highlight-color: transparent;
}
.logo a:active {
  text-shadow: none;
}
/* mobile nav */
#tab-for-mobile {
  display: none;
  position: fixed;
  top: 30%;
  width: 45%;
  height: 60vw;
  border-radius: 0px 3% 3% 0px;
  color: antiquewhite;
  align-items: center;
  padding-left: 10%;
  padding-right: 1%;
}
#tab-button img {
  width: 30px;
}
#tab-button:hover img {
}
/* tab button rotation animetion */
.tab-button-strait {
  transform: rotateZ(0deg);
  transition: all 0.12s ease-in-out;
}
.tab-button-rotate {
  transform: rotateZ(45deg);
  transition: all 0.12s ease-in-out;
}

#tab-close {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 5%;
  height: 15%;
}
#tab-close img {
  width: 30px;
}
#tab-nav-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
}
.mo-tab-out {
  transform: translate(0%);
  background-color: var(--top-nav-primary-color);
  transition: all 0.12s ease-in-out;
}
.mo-tab-close {
  transform: translate(-100%);
  background-color: var(--top-nav-secondary-color);
  transition: all 0.12s ease-in-out;
}

/* section intro */
#intro {
  background-color: #3a3b3c;
  object-fit: contain;
  object-position: center center;
  /* background-color: #f5012a; */
}
#intro img {
  width: 80%;
  position: absolute;
  object-fit: contain;
  object-position: center center;
}

/* section project */
#projects {
  background-color: #1b79d8;
}

/* section github */
#github {
  background-color: #1bd824;
}

/* section github */
#about {
  background-color: #d8d51b;
}

/* screen capability / mobile support */
/* Tab */
@media (max-width: 991px) {
  #nav-buttons {
    width: 60%;
  }
  #intro img {
    width: 90%;
  }
}
@media (max-width: 735px) {
  #nav-buttons {
    display: none;
  }
  .tab-button-container {
    display: flex;
  }
  #tab-for-mobile {
    display: block;
  }
  #intro img {
    width: 100%;
  }
}
