/* @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Josefin+Sans&family=Poppins:wght@500&display=swap'); */
* {
  margin: 0;
  padding: 0;
}
/* Variables */
:root {
  /* font */
  --headingEnglish: "Josefin Sans", sans-serif;
  --textEnglish: "Poppins", sans-serif;
  --fontBangla: "Hind Siliguri", sans-serif;
  --min-nav-height: 10vh;
  --max-nav-height: 17vh;
}
/* Default Css */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--textEnglish);
  background-color: antiquewhite;
}

section {
  background-color: rgb(218, 189, 28);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  list-style: none;
  font-weight: bolder;
  cursor: pointer;
}

/* Top-nav-bar */
nav {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  height: var(--max-nav-height);
  width: 100vw;
  top: 0;
  /* background-color: rgba(255, 255, 255, 0.39); */
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 15%;
  color: aliceblue;
}
.nav-max {
  animation: nav-max-state 0.15s linear;
  animation-play-state: running;
  height: var(--max-nav-height);
  background-color: rgba(56, 47, 47, 0);
}
.nav-min {
  animation: nav-min-state 0.15s linear;
  animation-play-state: running;
  height: var(--min-nav-height);
  background-color: rgba(56, 47, 47, 0.692);
}
/* nav animetion */
@keyframes nav-min-state {
  0% {
    background-color: rgba(56, 47, 47, 0);
    height: var(--max-nav-height);
  }
  100% {
    height: var(--min-nav-height);
    background-color: rgba(56, 47, 47, 0.692);
  }
}
@keyframes nav-max-state {
  0% {
    height: var(--min-nav-height);
    background-color: rgba(56, 47, 47, 0.692);
  }
  100% {
    height: var(--max-nav-height);
    background-color: rgba(56, 47, 47, 0);
  }
}
.tab-button-container {
  display: none;
}
#nav-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}
.logo {
  display: flex;
  align-items: center;
}
.logo h1 {
  font-family: var(--headingEnglish);
  font-size: x-large;
  padding-left: 5px;
}
/* mobile nav */
#tab-for-mobile {
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: aqua;
  position: fixed;
  top: 20%;
  width: 40%;
  height: 40%;
  border-radius: 0px 3% 3% 0px;
}
.mo-tab-out {
  animation: mo-tab-animate 0.15s linear;
  animation-play-state: running;
  transform: translate(0%);
}
.mo-tab-close {
  animation-delay: 0.1s;
  animation: mo-tab-animate2 0.15s linear;
  animation-play-state: running;
  transform: translate(-100%);
}
@keyframes mo-tab-animate {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(0%);
  }
}
@keyframes mo-tab-animate2 {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-100%);
  }
}
/* section intro */
.Intro {
  top: 0;
}

/* screen capability / mobile support */
/* Tab */
@media (max-width: 991px) {
  #nav-buttons {
    width: 60%;
  }
}
@media (max-width: 735px) {
  #nav-buttons {
    display: none;
  }
  .tab-button-container {
    display: inline;
  }
  #tab-for-mobile {
    display: flex;
  }
}
